.bicicletas-bg{
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-p2) 0);
}

.bicicletas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background: url("../../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.conteinerhome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

/* .bicicletas-imagem{
    display: grid;

} */
.bicicletas-imagem img{
    grid-area: 1/-1;
    margin-bottom: 16px;
    max-width:100%;
    height:400px;
}
.bicicletas-imagem span{
    grid-area: 1/1;
    place-self: start end;
    width: 50%;
    margin-top: 20px;
    background-color: var(--cor-12);
    display: inline-block;
    padding: 8px 16px 8px 8px;     
    border-radius: 4px 0 0 4px;  
    
}

.bicicletas-conteudo{
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
    max-width: 100%;
}

.bicicletas h2,
.bicicletas p{
    grid-column: 1/-1;
}

.bicicletas h2{
    margin-bottom: 20px;
}

.bicicletas h2::after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
}

.bicicletas p{
    margin-bottom: 32px;
    height: 100px;
}

.bicicletas a{
    place-self: end;
}

.bicicletas li{
    display: flex;
    text-align: center;
}

.bicicletas ul{
    display: grid;
    gap: 16px;
}
.bicicletas-conteudo img{
    width: 24px;
    margin-right: 8px;
}

@media (max-width:800px){
    .bicicletas{
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bicicletas-bg{
        background: linear-gradient(to right, var(--cor-11) 30%, var(--cor-p2) 0);
    }
}

@media (max-width:600px){
    .bicicletas-conteudo{
        grid-template-columns: 1fr;
    }

    .bicicletas ul{
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
    }
    .bicicletas a{
        place-self: start;
    }

    .conteinerhome{
        display: grid;
        grid-template-columns: 1fr;

    }
}