body{
    margin: 0;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #587053;
    display: flex;
    justify-content: center;/*justififcar no eixo X */
    align-items: center; /*justififcar no eixo Y */
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;/*justififcar no eixo X */
    align-items: center; /*justififcar no eixo Y */
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color:var(--cor-p3);
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;/*justififcar no eixo X */
    align-items: center; /*justififcar no eixo Y */
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;/*justififcar no eixo X */
    align-items: center; /*justififcar no eixo Y */
    flex-direction: column;
    padding: 30px 35px;
    background: var(--cor-3);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #46454556;
}

.card-login > h1{
    color: var(--cor-p1);
    font-weight: 400;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--cor-6);
    color: var(--cor-p5);
    font: 400 1rem/1.5 "Roboto", sans-serif;
    font-size: 12pt;
    box-shadow: 0px 2px 5px #46464656;
    outline: none;
    box-sizing: border-box;
}

.textfield  input[type="text"]:focus,
.textfield  input[type="password"]:focus,
.textfield  textarea:focus{
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-4);
    box-shadow: 0 0 0 1px var(--cor-p5) ;
}

.textfield > label{
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
    color: var(--cor-7);
}

.textfield > input::placeholder{
    color: var(--cor-4);
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font: 600 1.125rem/1.3 "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--cor-p5);
    background: linear-gradient(#198831, #095e22);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0d0e0d82;
}

.btn-login:hover:hover {
    background: linear-gradient(#02610f, #079637);
  }

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}