body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.container-login-nutri  {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #f7f7f7;
 
}

 .container-login-nutri h1 {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 20px;
  font: 400 1.5rem/1.125 "Poppins", sans-serif;
  text-align: center;
  color: #1d3d23;
}


.img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.div form {
  width: 600px;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.div form input{
  width: 380px;
  height: 40px;
  display: block;
  margin-bottom: 28px;
  background-color: rgb(233, 233, 233);
  border: 1px #bebebe solid;
  border-radius: 5px;
  font: 400 1rem/1.125 "Poppins", sans-serif;
  padding-left: 10px;
}

.div form input:hover{
  border: 1px #0e5a25 solid;
}



.div form input:focus{
  border: 2px solid #0e5a25;
  outline: none;
}

.div form label{
  display: block; 
  margin-bottom: 5px;
  
 }










 






